{% extends "base.html" %}

{% block title %}My Orders{% endblock %}

{% block content %}
<div class="container py-5">
    <h1>My Orders</h1>
    {% if orders %}
        <ul class="list-group">
            {% for order in orders %}
                <li class="list-group-item">
                    <a href="{% url 'orders:order_detail' order.id %}">
                        Order #{{ order.id }} - {{ order.created|date:"F j, Y" }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You have not placed any orders yet.</p>
    {% endif %}
</div>
{% endblock %} 